<!DOCTYPE html>
<html>
 <% include ../partials/head %>
<body>
  <% if(user) { %>
    <div class="logout">
      <form action="user/logout?_method=DELETE" method="post">
        <input class="logout" type="submit" value="logout">
      </form>
    </div>
  <% } %>
  <div class="gallery">
    <h3 class="browse">Browse Art</h3>
    <p id="save">Double-click an image to save to your collection.</p>
    <div class="filter">
      <input class="artist" type="text" placeholder="Artist">
      <select class="type" name="select" id="">
        <option class="all" value="all">All Results</option>
        <option class="painting" value="painting">Paintings</option>
        <option class="photograph" value="photograph">Photographs</option>
        <option class="drawing" value="drawing">Drawings</option>
        <option class="print" value="print">Prints</option>
      </select>
      <button>SEARCH</button><br><br>
    </div>
    <div>
      <a href="/collection">Go to My Collection</a><br><br>
    </div>
    <div class="results">
      <div class="container">
      </div>
    </div>
  </div>
</body>
</html>
