<!DOCTYPE html>
<html>
 <% include ./partials/head %>
<body>
  <div class="landing">
    <% if(user) { %>
      <div class="logout">
        <form action="user/logout?_method=DELETE" method="post">
          <input class="logoutButton" type="submit" value="logout">
      </form>
      </div>
    <h1>Explore the Rijksmuseum Collection</h1>
        <h4>Welcome, <%= user.fname %></h4>
      <div>
        <ul class="nav">
          <li>
            <a href="/collection">MY COLLECTION</a>
            <a href="/rijks">EXPLORE ART</a>
          </li>
        </ul>
      </div>
      <% } else { %>
      <h1>Explore the Rijksmuseum Collection</h1>
      <p>
          Guests please use:<br/>
          email: guest@guest.com<br/>
          password: guest
      </p>
      <div>
        <ul class="nav">
          <li>
            <a href="/user/login">LOGIN</a>
            <a href="/user/new">SIGN UP</a>
          </li>
        </ul>
      </div>
      <% } %>
  </div>
</body>
</html>
