body {
  text-align: center;
  background-color: black;
}

div.landing {
  background-image: url('http://lh5.ggpht.com/NNwpBd1GteTy1QVYsJH64dJh_eb8pORRD5AtB2tfrYRvvFlM5-07MakQOYmYo3h6-09spXyHfJZbjv6ODhPJiStHjQ=s0');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
}


div.gallery {
  background-color: black;
  text-align: center;
  max-height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

div.onLoad {
  color: white;
}

div.large {
  max-width: 100%
  max-height: 100%;
  margin: 0px;
  padding: 0px;
}

div.logout {
  position: relative;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 0px;
  max-height: 100px;
}

form.logout {
  margin-bottom: 0px;
}

div#grid {
  margin: 0 auto;
  max-width: 1200px;
}

div#gridLarge {
  margin: 0 auto;
  max-width: 1200px;
}

img.thumbnail {
  max-width: 100%;
  padding: 0px;
  overflow: hidden;
  position: relative;
}

div.thumbnail {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 1px;
}

img.large {
  margin: 0px;
  padding: 0px;
  max-width: 550px;
}

#grid[data-columns]::before {
  margin: 0 auto;
  content: '5 .column.size-1of5';
}

#gridLarge[data-columns]::before {
  margin: 0 auto;
  content: '2 .column.size-1of2';
}

.column {
  float: left;
  margin: 0 auto;
}

.links {
  padding: 10px;
}

.info {
  padding-bottom: 30px;
  color: white;
}

input.login {
  color: black;
  background-color: white;
}

input.field {
  background-color: rgba(255,255,255,0.7)
}


img {
  max-width: 600px;
  padding: 10px;
}


select {
  margin-left: 10px;
  margin-right: 10px;
}

button#searchButton {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  background-color: white;
  color: black;
}

h1 {
  margin-top: 20vh;
  color: black;
}

h1.login {
  color: black;
}

h3.browse {
  color: white;
  margin: 0 auto;
  padding-top: -25px;
  margin-bottom: 5px;
  text-align: center;
}

h3.collection {
  color: white;
  padding-top: 30px;
}

h4 {
  color: black;
  padding-top: 0px;
}

.nav, li {
  display: inline-block;
  color: crimson;
  font-size: 20px;
  font-weight: 400;
}

a {
  color: crimson;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

a.saveArt {
  color: crimson;
  text-decoration: none;
  display: inline-block;
  margin: 0px;
  padding-right: 5px;
}

a:hover {
  color: gold;
}

label {
  color: black;
}

input {
  color: black;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}

select {
  margin-bottom: 0px;
}

input.newUser {
  color: black;
  background-color: white;
  padding-bottom: 0px;
}

input.logoutButton {
  color: crimson;
  border-width: 0px;
}

.saveArt {
  display: inline-block;
}

p.saveArt {
  color: lightgray;
  margin-bottom: 0px;
  padding-left: 5px;
}

div#saveArt {
  max-height: 50px;
  margin-bottom: 15px;
  display: inline-block;
}

p#save {
  color: crimson;
  margin-bottom: 10px;
  padding: 0px;
}

p.description {
  color: lightgray;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

p.collectionDesc {
  color: lightgray;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

p.deleteLink {
  color: crimson;
  margin-bottom: 10px;
}

/*responsive styling below*/

@media screen and (max-width: 520px){
  #grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}

@media screen and (min-width: 521px) and (max-width: 799px){
  #grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}

@media screen and (min-width: 800) and (max-width: 899px){
  #grid[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px){
  #grid[data-columns]::before {
    content: '4 .column.size-1of4';
  }
}

@media screen and (min-width: 1200px) {
  #grid[data-columns]::before {
    content: '5 .column.size-1of5';
  }
}

@media screen and (max-width: 1100px){
  #gridLarge[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}

.size-1of1 {
  width: 100%;
}

.size-1of2 {
  width: 50%;
}

.size-1of3 {
  width: 33.333%;
}

.size-1of4 {
  width: 25%;
}

.size-1of5 {
  width: 20%;
}

