<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
  <div class="main">
    <h1 class="login">Explore the Rijksmuseum Collection</h1>
    <h4 class="login">Please Login</h4>
    <form action="/user/login" method="post">
      <label for="">Email:</label>
      <input class="field" type="text" name="email"><br>
      <label for="">Password:</label>
      <input class="field" type="password" name="password"><br><br>
      <input class="button" type="submit" value="login">
    </form>
  </div>
</body>
</html>
