<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
  <div class="landing">
    <h1 class="login">Explore the Rijksmuseum Collection</h1>
    <h4 class="login">Please Login</h4>
    <p>
      Guests please use:<br/>
      email: guest@guest.com<br/>
      password: guest
    </p>
    <form action="/user/login" method="post">
      <label for="">Email:</label>
      <input class="field" type="text" name="email"><br>
      <label for="">Password:</label>
      <input class="field" type="password" name="password"><br><br>
      <input class="login" type="submit" value="login">
    </form>
  </div>
</body>
</html>
