<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>
  <h1>Explore the Rijksmuseum Collection</h1>
  <form action="/user/login" method="post">
    <label for="">Email:</label>
    <input class="field" type="text" name="email"><br>
    <label for="">Password:</label>
    <input class="field" type="password" name="password"><br><br>
    <input class="login" type="submit" value="login">
  </form>
</body>
</html>
