<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
  <div class="landing">
    <h1 class="login">Explore the Rijksmuseum Collection</h1>
      <form action="/user/new" method="post">
        <label for="">First Name:</label>
        <input type="text" name="fname"><br>
        <label for="">Last Name:</label>
        <input type="text" name="lname"><br>
        <label for="">Email:</label>
        <input type="text" name="email"><br>
        <label for="">Password:</label>
        <input type="password" name="password"><br><br>
        <input class="newUser" type="submit" value="create new user">
      </form>
  </div>
</body>
</html>
