<!DOCTYPE html>
<html>
 <% include ../partials/head %>
<body>
  <div class="main">
    <h1>Explore the Rijksmuseum Collection</h1>
  <!--   <div class="container">
      <div class="row">
        <div class="full column"> -->
        <div>
          <ul class="nav">
            <li>
              <a href="/user/login">LOGIN</a>
              <a href="/user/new">SIGN UP</a>
            </li>
          </ul>
          <div>
            <a href="/rijks">EXPLORE</a>
          </div>
        </div>
  <!--       </div>
      </div>
    </div> -->
  </div>
</body>
</html>

<!--  <input type="text" placeholder="Artist">
        <select name="select" id="">
          <option value="all">All Results</option>
          <option value="painting">Paintings</option>
          <option value="sculpture">Sculptures</option>
          <option value="photograph">Photographs</option>
          <option value="drawing">Drawings</option>
          <option value="print">Prints</option>
        </select>
        <button>SEARCH</button> -->
